{% extends 'base.html' %}
{% load static %}

{% block content%}
<div>
   <div align="center">
         <div>
             <div></div>
             <div>
                 <div>
                     <div></div>
                         <h3>Log in</h3>
                         {% if messages %}
                             {% for message in messages %}
                                 <div>{{message}}</div>
                             {% endfor %}
                         {% endif %}
                         <form action="{% url 'login' %}" method="post">
                             {% csrf_token %}
                              <div>
                                 <input type="text" name="username" value="{{data.username}}" placeholder="Username">
                             </div>
                             <br>
                             <div>
                                 <input type="password" name="password" value="" placeholder="Password">
                             </div>
                             <br>
                             <input type="submit" value="Login"/>
                        </form>
                 </div>
             </div>
         </div>
    </div>
</div>

{% endblock %}