{% extends 'base.html' %}
{% load static %}

{% block content%}
<div>
   <div align="center">
         <div>
             <div></div>
             <div>
                 <div>
                     <div></div>
                         <h3>Sign up</h3>
                         <form action="{% url 'register' %}" method="post">
                             {% csrf_token %}
                             {{ form.as_p }}
                             <input type="submit" value="Register"/>
                        </form>
                 </div>
             </div>
         </div>
    </div>

    <div></div>
</div>

{% endblock %}